<nav class="navbar navbar-expand-lg navbar-dark py-3">
  <div class="container">
    <a class="navbar-brand "><h4 class=" bold text-white">K I T C H E N W A R E</h4> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase"  routerLink="/Products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="/Cart">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

