<section class="p-5" style="background-color: #eee;">
  <div class="container h-100 p-5">
    <div class="row d-flex justify-content-center align-items-center p-3 h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>
        <div class="card rounded-3  p-5" *ngIf="items.length==0">
          <div class="card-body p-5">
          <h3 class="text-center m-5"> Your Cart Is Empty !</h3>
          </div>
        </div>
        <div class="card rounded-3 mb-4" *ngFor="let item of items,let i=index">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  [src]="item.image"
                  class="img-fluid rounded-3">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{item.title}}</p>
                <p><span class="text-muted">Color: </span><span class="color" [ngStyle]="{'background-color':item.color}"></span></p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                  (click)="decreaseQuantity($event,i)">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1" min="0" name="quantity" [value]="item.quantity" type="number"
                  class="form-control form-control-sm" />

                <button class="btn btn-link px-2"
                  (click)="increaseQuantity($event,i)">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">$ {{item.price}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a  class="text-danger" (click)="removeItem(item)"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="items.length!=0">
          <h4 class="mt-5 mx-5 text-end"><span class="text-muted">Total: </span>$ {{total}}</h4>
          <div class="card-body d-flex flex-wrap justify-content-between">
            <button type="button" class="btn btn-block btn-lg" (click)="checkOut()">Check Out</button>
          </div>
        </div>
        <div class="pt-5">
          <h6 class="mb-5"><a routerLink="/Products" class="text-body"><i
                class="fas fa-long-arrow-alt-left me-2"></i>Continue Shopping </a></h6>
        </div>
      </div>
    </div>
  </div>
</section>
